.cen{height: 700px;}
.cen li{float: left;
    width: 225px;height: 330px;margin: 15px 13px 10px 0;border: 1px solid #ccc;background: #fff}
.cen li a{}
.cen li a img{width: 225px;height: 260px;}
.cen li .goodsName{height: 40px;font:14px/20px "";}
.price{height: 30px;font: 14px/30px ""}
.price .pri{float: left}
.price .btn{float: left;width: 70px;height: 28px;background: #ff3300;text-align: center;color: #fff}
.price a{background: #ff3300;text-align: center;color: #fff;float: right;}